@use "../../helpers" as *;

.metrics {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include tablet {

    }
  }

  &__item {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    row-gap: fluid(10, 0);
    padding: rem(50);

    @include laptop {
      padding: rem(30);
    }

    @include tablet {
      padding: rem(20);
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &:not(:last-child) {
      border-right: var(--border);
    }
  }

  &__value {
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: rem(5);
    font-weight: 600;
  }

  &__sign {
    color: var(--color-accent);
  }
}